@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
    --main-color: rgba(255, 255, 255, 0.9);
    --accent-color: black;
}

html {
    scroll-behavior: smooth;
}

body, 
body * {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}

.heading {
    margin: 1em 0;
    text-align: center;
    justify-self: center;
    background-color: var(--main-color);
    width: 40%;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    height: 3em;
    border-bottom: 2px solid black;
}

.main-nav {
    line-height: 2em;
}

.nav-links {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 20px;
    margin-right: 0.5em;
    border: 2px solid transparent;
}

.nav-links:hover{
    border-bottom: 2px solid var(--accent-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 1em 0;
}

#contacts > .heading,
.socials
{
    background-color: var(--main-color);
    width: 60%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    font-size: 40px;
}

.madewithlove {
    padding: 1em 0;
    background-color: var(--main-color);
}

.icon {
    text-decoration: none;
    color:darkgray;
    padding: 1em 0;
}

.icon:hover {
    color: darkgreen;
}

.fa-heart {
    color: red;
    padding: 0 0.5em;
}

.bottom-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 60px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    transition: all 0.5s;
}

@media (max-width:1200px)  {

    .main-header, .main-content, .bottom-content {
        --w: 1024px;
    }

    .project1-description, .project2-description, .project3-description {
        font-size: 18px;
    }
}

@media (max-width:1024px)  {

    .main-header, .main-content, .bottom-content {
        --w: 768px;
    }

    .project-image1, .project-image2, .project-image3 {
        border:2.5px solid transparent;
    }

    .project1-description, .project2-description, .project3-description {
        font-size: 14px;
    }

}

@media (max-width:768px)  {

    .main-title {
        font-size: 1.5em;
    }

    h2.heading {
        font-size: 1.2em;
    }

    h3.heading {
        font-size: 1em;
    }

    .main-header, .main-content, .bottom-content {
        --w: 480px;
    }

    .nav-links {
        font-size: 18px;
        margin-right: 0.4em;
    }

    .project1, .project2, .project3 {
        flex-direction: column;
    }

    .project-image1, .project-image2, .project-image3 {
        width: 100%;
        border:2.5px solid transparent;
    }

    .project1-description, .project2-description, .project3-description {
        text-align: center;
        padding: 0.5em;
        font-size: 12px;
        width: 100%;
    }

}