#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    margin: 3em 0;
}

.left-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    line-height: 2em;
    text-align: center;
}


.profile-picture {
    height: 400px;
}

.my-name {
    color: darkgreen;

}

.profession {
    color: darkred;
}

.sentence-1{
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
        typing 2.5s steps(40, end)
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%; }
}

.sentence-2{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
        typing2 5s steps(40, end)
}

@keyframes typing2 {
  0% { width: 0 }
  50% {width: 0;}
  100% { width: 100% }
}
