#projects {
    display: grid;
    gap: 1em;
    padding: 1em 0;
}

.project1, .project2, .project3 {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 80%;
    background-color: var(--main-color);
}

.project-image1, .project-image2, .project-image3 {
    width: 80%;
    border:5px solid transparent;
}

.project-image1:hover, .project-image2:hover, .project-image3:hover {
    border-color:green;
}

.project1-description, .project2-description, .project3-description {
    text-align: center;
    font-size: 20px;
}